<div class="middle_text container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <h4 >Please fill out the Recipient's information</h4>
      <div class="well">
        <%= form_tag "/givers", method: :post, class: "form-horizontal"  do %>

          <div class="form-group">
            <label>Your First Name:</label>
            <div class="col-xs-12">
              <input class="form-input" type="text" name = "giver_first_name" required>
            </div>
            </div>
            <div class="form-group">
            <label>Your Last Name:</label>
            <div class="col-xs-12">
              <input class="form-input" type="text" name = "giver_last_name" required>
            </div>
            </div>
            <div class="form-group">
            <label>Recipient's First Name:</label>
            <div class="col-xs-12">
              <input class="form-input" type="text" name = "first_name" required>
            </div>
          </div> 
          <div class="form-group">
            <label>Recipient's Last Name:</label>
            <div class="col-xs-12">
              <input class="form-input" type="text" name = "last_name" required>
            </div>
          </div>
          <div class="form-group">
            <label>Recipient's Email:</label>
            <div class="col-xs-12">
              <input class="form-input" type="email" name = "email">
            </div>
          </div>
          <div class="form-group">
            <label>Coin's Number:</label>
            <div class="col-xs-12">
              <input class="form-input" type="text" name = "coins" required>
            </div>
          </div>
          <div class="form-group">
            <label>Recipient's Department:</label>
            <div class="col-xs-12">
              <input class="form-input" type="text" name = "department" required>
            </div>
          </div>
          
          <div class="form-group">
            <label>RACE:</label>
            <div class="col-xs-12">
              <select name="race" required >
                <option  selected value> -- select a RACE option -- </option>
                  <option value="R">R</option>
                  <option value="A">A</option>
                  <option value="C">C</option>
                  <option value="E">E</option>              
              </select>
              <p>R: responsive A: accurate C: courteous E: efficient</p>
            </div>
          </div>

          <div class="form-group">
            <label>Location:</label>
            <div class="col-xs-12">
              <select name="location" required>
                <option  selected value > -- select a location option -- </option>
                  <option value="DF">DF</option>
                  <option value="BX">BX</option>
                  <option value="MT">MT</option>
                  <option value="YT">YT</option>              
              </select>
            </div>
          </div>

          <button class="btn btn-success">Submit</button>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
<% end %>





