<div class="container">
<br />
<% flash.each do |name, msg| %>
       <div class ="alert alert-<%= name  %> alert-
       dismissible"  role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
       <%= msg %></div>
    <% end %>

  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <h4 >Please fill out the Recipient's information</h4>
      <div class="well">
        <%= form_tag "/receivers", method: :post, class: "form-horizontal"  do %>

          <div class="form-group">
            <label>Your First Name:</label>
            <div class="col-xs-12">
              <input class="form-input" type="text" name = "giver_first_name" required>
            </div>
            </div>

            <div class="form-group">
            <label>Your Last Name:</label>
            <div class="col-xs-12">
              <input class="form-input" type="text" name = "giver_last_name" required>
            </div>
            </div>

            <div class="form-group">
            <label>Recipient's First Name:</label>
            <div class="col-xs-12">
              <input class="form-input" type="text" name = "first_name" required>
            </div>
          </div> 

          <div class="form-group">
            <label>Recipient's Last Name:</label>
            <div class="col-xs-12">
              <input class="form-input" type="text" name = "last_name" required>
            </div>
          </div>

          <div class="form-group">
            <label>Recipient's Email:</label>
            <div class="col-xs-12">
              <input class="form-input" type="email" name = "email">
            </div>
          </div>

          <div class="form-group">
            <label>Coin's Number:</label>
            <div class="col-xs-12">
              <input class="form-input" type="text" name = "coins" required>
            </div>
          </div>

          <div class="form-group">
          <label>Recipient's Department:</label>
          <div class="col-xs-12">
          <!-- <input type="text" list="departments" name="department" > -->
          <!-- <datalist id="departments"  > -->
          <select id="departments" name="department" required>
               <option selected >Select department</option>
               <option value="Administrative Services">Administrative Services</option>
               <option value="Admissions &amp; Recruitment">Admissions &amp; Recruitment</option>
               <option value="Athletics &amp; Recreation">Athletics &amp; Recreation</option>
               <option value="Career Services">Career Services</option>
               <option value="CAEI">Center for Academic Excellence</option>
               <option value="Center for Student Success &amp; Engagement/PACT">Center for Student Success &amp; Engagement/PACT</option>
               <option value="College Opportunity Program">College Opportunity Program</option>
               <option value="College Relations (Community, Government, &amp; Public Relations)">College Relations (Community, Government, &amp; Public Relations)</option>
               <option value="Communication Disorders">Communication Disorders</option>
               <option value="Compliance Office">Compliance Office</option>
               <option value="Disability Services Office">Disability Services Office</option>
               <option value="Facilities">Facilities</option><option value="Finance Office">Finance Office</option>
               <option value="Human Resources">Human Resources</option>
               <option value="Information Technology">Information Technology</option>
               <option value="Institutional Advancement">Institutional Advancement</option>
               <option value="Institutional Effectiveness">Institutional Effectiveness</option>
               <option value="Institutional Research">Institutional Research</option>
               <option value="Internal Audit">Internal Audit</option>
               <option value="Legal">Legal Department</option>
               <option value="Libraries">Libraries</option>
               <option value="Marketing">Marketing</option>
               <option value="OTEEL">Office for Teaching Excellence and Engaged Learning</option>
               <option value="Purchasing">Purchasing</option>
               <option value="President's Office">President's Office</option>
               <option value="Provost's Office">Provost's Office</option>
               <option value="Safety Office">Safety Office</option>
               <option value="School of Business">School of Business</option>
               <option value="School of Education">School of Education</option>
               <option value="School of Health and Natural Sciences">School of Health and Natural Sciences</option>
               <option value="School of Liberal Arts">School of Liberal Arts</option>
               <option value="School of Social and Behavioral Sciences">School of Social and Behavioral Sciences</option>
               <option value="Sponsored Programs">Sponsored Programs</option>
               <option value="Student Counseling Center">Student Counseling Center</option>
               <option value="Student Services Office">Student Services Office</option>
               <option value="Student Services Support Center">Student Services Support Center</option>
               <option value="Student Services-Business Operations">Student Services - Office of Student Accounts</option>
               <option value="Student Management Operations">Student Services-Systems Management Operations</option>
           </select>
          <!-- </datalist> -->
        </div>
       </div>   
          
          <div class="form-group">
            <label>RACE:</label>
            <div class="col-xs-12">
              <select name="race" required >
                <option  selected value> -- select a RACE option -- </option>
                  <option value="Responsive">Responsive</option>
                  <option value="Accurate">Accurate</option>
                  <option value="Courteous">Courteous</option>
                  <option value="Efficient">Efficient</option>              
              </select>
            </div>
          </div>

          <div class="form-group">
            <label>Location:</label>
            <div class="col-xs-12">
              <select name="location" required>
                <option  selected value > -- select a location option -- </option>
                  <option value="Dobbs Ferry">Dobbs Ferry</option>
                  <option value="Bronx">Bronx</option>
                  <option value="Manhattan">Manhattan</option>
                  <option value="Tarrytown">Tarrytown</option>
                  <option value="Yorktown">Yorktown</option>              
              </select>
            </div>
          </div>

          <button class="btn btn-info">Submit</button>

      </div>
    </div>

    <div class="col-md-3"></div>

  </div>
</div>
<% end %>





