<div class="middle_text">
  
 <h5>Congratulations!, <%= @receiver.first_name %></h5>
    <p>
    <font face="verdana" color="orange" size="20px">To learn more about what you need to do, just follow this link: <%= @url %>.</font>
    </p>
    <p><font color="red">H</font>ave a great day!</p>
</div>
