<div class="middle_text">
  
 <h5>Congratulation! <%= @receiver.first_name %></h5>
    <p>
      To learn more about what you need to do, just follow this link: <%= @url %>.
    </p>
    <p>have a great day!</p>
</div>
