<div class="middle_text">
    <div><font face="verdana" color="orange" size="8px">SERVICE <br /> EXCELLENCE</font></div>
 <h6>Congratulations!, <%= @receiver.first_name %></h6>
   <p>To learn more about what you need to do, just follow this link: <%= @url %>.</p> 
    
    <p>Have a great day!</p>
</div>
