<div class="middle_text">
  
 <h6>Congratulations!, <%= @receiver.first_name %></h6>
    <div><font face="verdana" color="orange" size="20px">SERVICE <br /> EXCELLENCE</font></div>
   <p>To learn more about what you need to do, just follow this link: <%= @url %>.</p> 
    
    <p><font color="red">H</font>ave a great day!</p>
</div>
