<div class="middle_text">
  
 <h3>Congratulation! <%= @receiver.first_name %></h3>
    <p>
      To learn more what you need to do, just follow this link: <%= @url %>.
    </p>
    <p>have a great day!</p>
</div>
