<div class="middle_text">
  
 <h1>Congratulation! <%= @receiver.first_name %></h1>
    <p>
      To learn more what you need to do, just follow this link: <%= @url %>.
    </p>
    <p>have a great day!</p>
</div>
