// Place all the styles related to the givers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.middle_text {
  margin-top: 50px;
  // vertical-align: middle;
}

body { 
  font-family: Tahoma,Verdana,Segoe,sans-serif; 

}
.silver {color: silver; }
.far_right {
  float: right;
}

label input { color: #000}
label select { color: #000}

.dataTables_wrapper .dataTables_paginate {
  float: right;
  text-align: right;
  padding-top: 0.25em;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
  box-sizing: border-box;
  display: inline-block;
  min-width: 1.5em;
  padding: 0.5em 1em;
  margin-left: 2px;
  text-align: center;
  text-decoration: none !important;
  cursor: pointer;
  *cursor: hand;
  color: black !important;
  border: 1px solid transparent;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  color: #333333 !important;
  background-color: white;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, gainsboro));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, white 0%, gainsboro 100%);
  /* Chrome10+,Safari5.1+ */
  background: -moz-linear-gradient(top, white 0%, gainsboro 100%);
  /* FF3.6+ */
  background: -ms-linear-gradient(top, white 0%, gainsboro 100%);
  /* IE10+ */
  background: -o-linear-gradient(top, white 0%, gainsboro 100%);
  /* Opera 11.10+ */
  background: linear-gradient(to bottom, white 0%, gainsboro 100%);
  /* W3C */
}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
  cursor: default;
  color: #000 !important;
  border: 1px solid transparent;
  background: transparent;
  box-shadow: none;
}


.dataTables_wrapper .dataTables_paginate .paginate_button:active {
  outline: none;
  background-color: #2b2b2b;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2b2b2b), color-stop(100%, #0c0c0c));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
  /* Chrome10+,Safari5.1+ */
  background: -moz-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
  /* FF3.6+ */
  background: -ms-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
  /* IE10+ */
  background: -o-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
  /* Opera 11.10+ */
  background: linear-gradient(to bottom, #2b2b2b 0%, #0c0c0c 100%);
  /* W3C */
  box-shadow: inset 0 0 3px #111;
}


* {
  margin: 0;
  padding :0;
  }
nav,output {
  display: block;
  }
body {
  padding: 2em;
  font-family: "Open Sans", arial, sans-serif;
  }
h1 {
  text-transform: uppercase;
  font-size: 20px;
  }
h1 span {
  display: block;
  color: #999;
  font-size: 12px;
  } 
nav {
  float:left;
  padding-right:20px;
  }
button {
  cursor: pointer;
  padding: 5px 10px;
  font-size: 14px;
  width: 9em;
  border: none;
  margin-bottom: 5px;
  background: #ccc;
  background: -webkit-linear-gradient(#ccc, #eee);
  background: -moz-linear-gradient(#ccc, #eee);
  background: -ms-linear-gradient(#ccc, #eee);
  background: -o-linear-gradient(#ccc, #eee);
  background: linear-gradient(#ccc, #eee);
  }
button.current {
  background: #6cf;
  background: -webkit-linear-gradient(#369, #6cf);
  background: -moz-linear-gradient(#369, #6cf);
  background: -ms-linear-gradient(#369, #6cf);
  background: -o-linear-gradient(#369, #6cf);
  background: linear-gradient(#369, #6cf);
  }
.resultbars {
  padding-top: 30px;
  }
.progress {
  float: left;
  width: 236px;
  height: 1em;
  border: 1px solid #ccc;
  background: -webkit-linear-gradient(#ccc, #eee);
  background: -moz-linear-gradient(#ccc, #eee);
  background: -ms-linear-gradient(#ccc, #eee);
  background: -o-linear-gradient(#ccc, #eee);
  background: linear-gradient(#ccc, #eee);
}
meter, progress {
  width: 236px;
}
.resultbars li {
  list-style: none;
  margin: 0;
  padding: 0 0 5px 0;
  }
.value {
  padding: 0 1em;
}
#graphs ul { 
  margin: 1em 0;
  list-style: none;
  }
.os {
  display: block;
  float: left;
  width: 100px;
}
.progress span {
  background: #060;
  background: -webkit-linear-gradient(0deg, #060, #0c0);
  background: -moz-linear-gradient(0deg, #060, #0c0);
  background: -ms-linear-gradient(0deg, #060, #0c0);
  background: -o-linear-gradient(0deg, #060, #0c0);
  background: linear-gradient(90deg, #060, #0c0);
  width:20px;
  height:1em;
  display: block;
  -webkit-transition: width 1s;
  -moz-transition: width 1s;
  -ms-transition: width 1s;
  -o-transition: width 1s;
  transition: width 1s;
  }
table { 
  clear: both;
  border: none;
  border-collapse: collapse;
}
thead th {
  border-bottom: 2px solid #000;
}
th, td {
  padding: 5px 10px;
  border: none;
  border-collapse: collapse;
}
tbody td{
  text-align: center;
}
tbody tr > th {
  text-align: left;
  border-right: 2px solid #000;
}